# --- Backend Configuration ---
PORT=5000
JWT_SECRET=your_super_secret_jwt_key_here

# Comma-separated list of whitelisted administrator emails
AUTHORIZED_EMAILS=admin@tecoritham.com,owner@tecoritham.com,mearaees@gmail.com
ADMIN_PASSWORD="Folio@43#MiT"



# --- Supabase Configuration ---
SUPABASE_PROJECT_ID=txmbbpvkmmzjgyjiefgh
SUPABASE_URL=https://txmbbpvkmmzjgyjiefgh.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_Zz86-R-ltl7Hri8Ohbs3Bw_MlqKl2YZ
SUPABASE_ANON_KEY=sb_publishable_Zz86-R-ltl7Hri8Ohbs3Bw_MlqKl2YZ

# --- Frontend Configuration (for client) ---
# Note: Use these environment variables on client side, Vite will read VITE_ prefixes.
VITE_API_URL=http://localhost:5000/api
VITE_SUPABASE_URL=https://txmbbpvkmmzjgyjiefgh.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Zz86-R-ltl7Hri8Ohbs3Bw_MlqKl2YZ
VITE_SUPABASE_ANON_KEY=sb_publishable_Zz86-R-ltl7Hri8Ohbs3Bw_MlqKl2YZ
VITE_AUTHORIZED_EMAILS=admin@tecoritham.com,owner@tecoritham.com,mearaees@gmail.com

